/* You can add global styles to this file, and also import other style files */
/*@import url('../node_modules/chart.js/dist/Chart.min.css');*/
@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

.legend-box {
  margin-right: 10px;
  background-color: #e5e5e5;
}
.color-0 {
  background-color: rgba(63,103,126,1);
}
.color-1 {
  background-color: rgba(163,103,126,1);
}
.color-2 {
  background-color: rgba(63,203,226,1);
}
